{% extends 'base.html' %} {% block content %}
<h1>About the Movie collector</h1>
<div class="#ffc400 amber accent-3 black-text" id="welcome_message">
  <ul>
    <li>
      <hr />
      How to add a movie:
      <hr />
      Click on 'Add Movie' in the navigation bar and fill out the title,
      synopsis, and year of release.
    </li>
    <br />
    <li>
      <hr />
      How to add a viewing and movie snack:
      <hr />
      Click on 'Add Movie' in the navigation bar and fill out the title,
      synopsis, and year of release.
    </li>
    <br />
    <li>
      <hr />
      How to add a comment:
      <hr />
      Click on 'Create Comment!' in the navigation bar, input your comment and
      click submit!
      <br />
    </li>
    <br />
  </ul>
</div>
<footer>All Rights Reserved, &copy; 2022 Movie Collector</footer>
{% endblock %}
